<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Seleccionar perfil</h3>
            </div>
            <div class="panel-body">
                <form name="formChooseProfile" method="post" role="form" ng-submit="f_ToEnter()">
                    <div class="form-group">
                        <label for="Profile">Seleccionar perfil</label>
                        <select class="form-control" id="Profile" ng-model="oProfile" ng-options="s.Description for s in dataProfiles track by s.ID" autofocus></select>
                    </div>
                    <br />

                    <div class="text-right">
                        <button type="submit" class="btn btn-info">Ingresar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
</div>