<div class="row">
    <div class="col-md-12">
        <h1>Nuevo Usuario</h1>
    </div>
</div>



<div class="row">
    <div class="col-md-1">
        <a>Nombre y Apellido</a>
    </div>
    <div class="col-md-2">
        <input type="text" name="Nombre">
    </div>
</div>


<div class="row">
    <div class="col-md-1">
        <a>DNI</a>
    </div>
    <div class="col-md-2">
        <input type="text" name="DNI">
    </div>
</div>


<div class="row">
    <div class="col-md-1">
        <a>Fecha de Nacimiento</a>
    </div>
    <div class="col-md-2">
        <input type="date" name="fecha">
    </div>
</div>


<div class="row">
    <div class="col-md-1">
        <a>Correo Electronico</a>
    </div>
    <div class="col-md-2">
        <input type="email" name="Edad">
    </div>
</div>


<div class="row">
    <div class="col-md-1">
        <a>Tipo Gestor</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>------------------</option>
            <option>Campo</option>
            <option>Telefonico</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a>Experiencia</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>-------------------</option>
            <option>Junior</option>
            <option>Avanzado</option>
            <option>Experto</option>
        </select>
    </div>
</div>


<div class="col-md-1">
    <a> </a>
</div>
<button type="button" class="btn btn-primary" aria-label="Left Align">
    <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
</button>

<button type="button" class="btn btn-primary" aria-label="Left Align">
    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
</button>