<div class="row">
    <div class="col-md-12">
        <h1>Gestión Ruteo</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a>ID.Ruta</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>

    <div class="col-md-1">
        <a>Gestor</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
            <option>Gestor1</option>
            <option>Gestor2</option>
        </select>
    </div>
</div>

<div class="row">
    <h4>Direcciones Programadas</h4>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nro.Doc.</th>
                <th>NOMBRE</th>
                <th>ID.DIRECCION</th>
                <th>DIRECCION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>0000</td>
                <td>CLIENTE 1</td>
                <td>101</td>
                <td>JIRON REAL #575</td>
            </tr>
            <tr>
                <td>2</td>
                <td>0001</td>
                <td>CLIENTE 2</td>
                <td>101</td>
                <td>CERCADO DE LIMA</td>
            </tr>
        </tbody>
    </table>
</div>


<div class="row">
    <h4>Gestión Campo</h4>


    <div class="col-md-1">
        <a>ID.Direc.</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>

    <div class="col-md-1">
        <a>Dirección</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>

    <div class="col-md-1">
        <a>Origen</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Condición</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

</div>

<div class="row">
    <div class="col-md-1">
        <a>Gestión</a>
    </div>
    <div class="col-md-2">
        <input type="text" style="width:400px; height:40px;">
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a>Contacto</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Resultado</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Condición</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

</div>

<div class="row">
    <h4>compromiso de Pago</h4>


    <div class="col-md-1">
        <a>Moneda</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
            <option>S/.</option>
            <option>$</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Fecha</a>
    </div>
    <div class="col-md-2">
        <input type="text" />
    </div>

    <div class="col-md-1">
        <a>Monto</a>
    </div>
    <div class="col-md-2">
        <input type="text" />
    </div>

    <div class="col-md-1">
        <a>Tipo</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

</div>

<div class="row">

    <button type="button" class="btn btn-primary" aria-label="Left Align">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
    </button>

</div>

<div class="row">
    <h4>Gestiones</h4>

    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>CARTERA</th>
                <th>GESTOR</th>
                <th>RESULTADO</th>
                <th>GESTION</th>
                <th>FCH.CP</th>
                <th>MON.CP</th>
                <th>MONTO CP</th>
            </tr>
        </thead>
    </table>
</div>


<a href="Ruteo.html" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>