<div class="row">
    <div class="col-md-12">
        <h1>Ruteo</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a href="NewRuteo.html" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>Fecha</option>
            <option>Id.Gestor</option>
            <option>Gestor</option>
        </select>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" placeholder="Buscar Ruteo">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>ID.GESTOR</th>
                    <th>GESTOR</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>10/12/2016</td>
                    <td>user001</td>
                    <td>Junior</td>
                    <td><a href="NewRuteo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteRuteo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                    <td><a href="GestionRuteo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> Ingresar Gestión</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>10/12/2016</td>
                    <td>user002</td>
                    <td>Mabel</td>
                    <td><a href="NewRuteo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteRuteo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                    <td><a href="GestionRuteo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> Ingresar Gestión</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>11/12/2016</td>
                    <td>user001</td>
                    <td>Junior</td>
                    <td><a href="NewRuteo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteRuteo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                    <td><a href="GestionRuteo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> Ingresar Gestión</a></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>