<div>
    <h2>Nuevo Ruteo</h2>
</div>

<form>

    <div class="row">
        <div class="col-md-1">
            <a>Fecha</a>
        </div>
        <div class="col-md-2">
            <input type="text">
        </div>

        <div class="col-md-1">
            <a>Tipo</a>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>------------------</option>
                <option>Generado</option>
                <option>Puntual</option>
            </select>
        </div>

        <div class="col-md-1">
            <a>IDCarta</a>
        </div>
        <div class="col-md-2">
            <input type="text">
        </div>

        <div class="col-md-1">
            <a>Gestor</a>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>------------------</option>
                <option>Gestor1</option>
                <option>Gestor2</option>
            </select>
        </div>

    </div>

    <div class="row">
        <h4>Direcciones Programadas</h4>

        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nro.Doc.</th>
                    <th>NOMBRE</th>
                    <th>ID.DIRECCION</th>
                    <th>DIRECCION</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>1</td>
                    <td>0000</td>
                    <td>CLIENTE 1</td>
                    <td>101</td>
                    <td>JIRON REAL #575</td>
                    <td><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr class="success">
                    <td>2</td>
                    <td>0001</td>
                    <td>CLIENTE 2</td>
                    <td>101</td>
                    <td>CERCADO DE LIMA</td>
                    <td><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <button type="button" class="btn btn-primary" aria-label="Left Align">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
    </button>

    <a href="Ruteo.html" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>

</form>