<div class="row">
    <div class="container col-md-12">
        <h4>Mantenimiento Clientes</h4>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading"><span class="glyphicon glyphicon-trash"></span> Eliminar Datos de Cliente</div>
    <div class="panel-body">
        <form class="form-inline">
            <div class="form-group form-group-sm">
                <h5>
                    ¿Está seguro que desea eliminar el cliente cartera?
                </h5>
            </div>
            <div>
                <a class="btn btn-info" href="ListPortafolioCustomer.html"><span class="glyphicon glyphicon-ok-circle"></span> Eliminar</a>
                <a class="btn btn-info" href="ListPortafolioCustomer.html"><span class="glyphicon glyphicon-remove-circle"></span> Cancelar</a>
            </div>
        </form>
    </div>
</div>