<div class="row">
    <div class="col-md-12">
        <h4>Mantenimiento Clientes</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <a href="NewPortafolioCustomer.html" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>Nuevo</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>ID</option>
            <option>DNI</option>
            <option>RUC</option>
            <option>Nombre</option>
        </select>
    </div>
    <div class="col-md-7">
        <input type="text" class="form-control" id="formCustomerSearch" placeholder="Buscar Cliente">
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DNI</th>
                    <th>RUC</th>
                    <th>Nombre</th>
                    <th class="col-sm-1"></th>
                    <th class="col-sm-1"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>65734522</td>
                    <td>20118734654</td>
                    <td>Andrés Cavero Nuñez</td>
                    <td><a href="EditPortfolioCustomer.html" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeletePortfolioCustomer.html" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>44329833</td>
                    <td>20105374737</td>
                    <td>Miriam Cruz Vargas</td>
                    <td><a href="EditPortfolioCustomer.html" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeletePortfolioCustomer.html" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>66768231</td>
                    <td>20118377322</td>
                    <td>Julieta Ramos Vidal</td>
                    <td><a href="EditPortfolioCustomer.html" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeletePortfolioCustomer.html" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>08982767</td>
                    <td>20103988883</td>
                    <td>Micaela Valdivia Ruiz</td>
                    <td><a href="EditPortfolioCustomer.html" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeletePortfolioCustomer.html" class="btn btn-link btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>