<div id="menuHor" class="menu">
    <a class="btn-show"></a>
    <a class="logo" href="#">
        <div class="text-center">
            <img src="Content/images/LOGO3-300x300.png" class="logo-business" />
        </div>
    </a>
    <nav class="nav">
        <ul class="nav-wrap">
            <li class="nav-01">
                <span class="list-collapse">Cobranza <i class="ico-collapse"></i></span>
                <ul class="nav-collapse">
                    <li class="nav-02">
                        <a href="#/Cobranza/GestionTelefonica">Gestión Teléfonica</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Gestión de Campo</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Progresivo</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Análisis de Recaudación</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Asignación de Cartera</a>
                    </li>
                </ul>
            </li>
            <li class="nav-01">
                <span class="list-collapse">Administración <i class="ico-collapse"></i></span>
                <ul class="nav-collapse">
                    <li class="nav-02">
                        <a href="#">Mantenimiento de Clientes</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Mantenimiento de Cartera de Clientes</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Mantenimiento de Gestores</a>
                    </li>
                </ul>
            </li>
            <li class="nav-01">
                <span class="list-collapse">Consultas <i class="ico-collapse"></i></span>
                <ul class="nav-collapse">
                    <li class="nav-02">
                        <a href="#">Gestiones</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Notificaciones</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Recaudación</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Estadísticas</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Reporte de Carteras</a>
                        <ul class="nav-collapse-sub">
                            <li class="nav-03"><a href="#">Reporte de Derrama</a></li>
                            <li class="nav-03"><a href="#">Reporte de BCP</a></li>
                            <li class="nav-03"><a href="#">Reporte de EFE</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-01">
                <span class="list-collapse">Importaciones <i class="ico-collapse"></i></span>
                <ul class="nav-collapse">
                    <li class="nav-02">
                        <a href="#">Carga masiva de Carteras</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Otras cargas</a>
                    </li>
                </ul>
            </li>
            <li class="nav-01">
                <span class="list-collapse">Soporte <i class="ico-collapse"></i></span>
                <ul class="nav-collapse">
                    <li class="nav-02">
                        <a href="#">Configuraciones</a>
                        <ul class="nav-collapse-sub">
                            <li class="nav-03"><a href="#">General</a></li>
                            <li class="nav-03"><a href="#">Plantillas</a></li>
                            <li class="nav-03"><a href="#">Resultados de Gestión</a></li>
                            <li class="nav-03"><a href="#">Zonificación</a></li>
                        </ul>
                    </li>
                    <li class="nav-02">
                        <a href="#">Buscadores</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Impresión de Cartas</a>
                    </li>
                </ul>
            </li>
            <li class="nav-01">
                <span class="list-collapse">Seguridad <i class="ico-collapse"></i></span>
                <ul class="nav-collapse">
                    <li class="nav-02">
                        <a href="#">Mantenimiento de Usuarios</a>
                    </li>
                    <li class="nav-02">
                        <a href="#">Mantenimiento de Opciones</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>