<h1 style="color: #5e9ca0;">Ingresar datos de Cargas</h1>
<h2 style="color: #2e6c80;">Cargas Masivas:</h2>
<p>Seleccionar una opcion</p>
<div>
    <select>
        <option></option>
        <option>TELEFONOS</option>
        <option>CUENTAS BANCARIAS</option>
        <option>DIRECCIONES</option>
        <option>INFORMACION CLIENTE</option>
    </select>
</div>
<p><button type="button">Generar</button></p>
<h2 style="color: #2e6c80;">Otras Cargas:</h2>
<p>Seleccionar una opcion</p>
<div>
    <select>
        <option></option>
        <option>OPCION1</option>
        <option>OPCION2</option>
        <option>OPCION3</option>
        <option>OPCION4</option>
    </select>
</div>
<p><button type="button">Generar</button></p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<h2 style="color: #2e6c80;">Plantilla</h2>
<table class="editorDemoTable">
    <thead>
        <tr>
            <td>CAMPO 1</td>
            <td>CAMPO 2</td>
            <td>CAMPO 3</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
    </tbody>
</table>
<p><strong>Adjuntar Plantilla de Datos: </strong></p>
<p><input name="cumpleanios" type="text" value="" /><button type="button">...</button></p>
<p><button type="button">Importar Excel</button></p>
<p><strong>&nbsp;</strong></p>