<div class="panel panel-info">
    <div class="panel-heading nav navbar-inverse">
        <div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-5">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h3 class="panel-title"><span class="glyphicon glyphicon-list-alt"></span> Gestiones</h3>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-5">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-filter"></span> Todos</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-filter"></span> Call</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-filter"></span> Campo</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-filter"></span> Compromiso</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-filter"></span> Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mngt-scrolls">
        <table class="table-mngt table table-hover table-body-size">
            <thead>
                <tr>
                    <th></th>
                    <th>Cartera</th>
                    <th>Cuenta</th>
                    <th>DiasMora</th>
                    <th>Mon</th>
                    <th>Capital</th>
                    <th>Campaña</th>
                    <th>Monto camp</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span class="glyphicon glyphicon-log-out"></span></td>
                    <td><a href="sip:999888111">999888111</a></td>
                    <td>1</td>
                    <td>Efectivo</td>
                    <td>Claro</td>
                    <td>0</td>
                    <td>BCP</td>
                    <td></td>
                </tr>
                <tr>
                    <td><span class="glyphicon glyphicon-log-out"></span></td>
                    <td><a href="sip:999888111">999888111</a></td>
                    <td>1</td>
                    <td>Efectivo</td>
                    <td>Claro</td>
                    <td>0</td>
                    <td>BCP</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>