<div id="tab-Customer">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#personalData" data-toggle="tab"><span class="glyphicon glyphicon-user"></span> Datos Personales</a></li>
        <li><a href="#anotherData" data-toggle="tab"><span class="glyphicon glyphicon-th-list"></span> Otros Datos</a></li>
        <li><a href="#paid" data-toggle="tab"><span class="glyphicon glyphicon-usd"></span> Pagos</a></li>
        <li><a href="#schedule" data-toggle="tab"><span class="glyphicon glyphicon-calendar"></span> Cronograma</a></li>
    </ul>
    <div id="tabs-Customer" class="tab-content">
        <div class="tab-pane fade active in" id="personalData">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Cliente</label></div>
                            <div class="col-sm-4">{{customerData.Names}} {{customerData.LastName}} {{customerData.SecondLastName}}</div>
                            <div class="col-sm-1"><label class="control-label">Doc</label></div>
                            <div class="col-sm-2">{{customerData.DocumentNumber}}</div>
                            <div class="col-sm-1"><label class="control-label">Sueldo</label></div>
                            <div class="col-sm-2 text-right">4500.00</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">RUC</label></div>
                            <div class="col-sm-4">111020202012</div>
                            <div class="col-sm-2"><label class="control-label">Correo</label></div>
                            <div class="col-sm-4">megapokemon@hotmail.com</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Cargo</label></div>
                            <div class="col-sm-4">Analista Programador</div>
                            <div class="col-sm-2"><label class="control-label">Conyuge</label></div>
                            <div class="col-sm-4">Ana Lisa Meltrozo Cardenas</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Direc.</label></div>
                            <div class="col-sm-8">Av. Los manzanos 433 Surco Viejo Ref</div>
                            <div class="col-sm-2 text-right"><a href="#" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="anotherData">
            <table class="table table-condensed">
                <tbody>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">Otro1</label></div>
                            <div class="col-sm-4">Apolinario Maximiliano Quibaja Monserrat</div>
                            <div class="col-sm-1"><label class="control-label">otro</label></div>
                            <div class="col-sm-2">4782829210</div>
                            <div class="col-sm-1"><label class="control-label">Sueldo</label></div>
                            <div class="col-sm-2 text-right">4500.00</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">otro2</label></div>
                            <div class="col-sm-4">111020202012</div>
                            <div class="col-sm-2"><label class="control-label">otro4</label></div>
                            <div class="col-sm-4">megapokemon@hotmail.com</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">otro5</label></div>
                            <div class="col-sm-4">Analista Programador</div>
                            <div class="col-sm-2"><label class="control-label">otro6</label></div>
                            <div class="col-sm-4">Ana Lisa Meltrozo Cardenas</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-sm-12">
                            <div class="col-sm-2"><label class="control-label">ref.</label></div>
                            <div class="col-sm-10">Av. Los manzanos 433 Surco Viejo Ref</div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="paid">
            <div class="mngt-scrolls">
                <table class="table-mngt table table-hover table-condensed table-body-size">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cartera</th>
                            <th>Fecha</th>
                            <th>Cuenta</th>
                            <th>Operación</th>
                            <th>Monto</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="schedule">
            <div class="mngt-scrolls">
                <table class="table-mngt table table-hover table-condensed table-body-size">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cartera</th>
                            <th>Fecha</th>
                            <th>Cuenta</th>
                            <th>Operación</th>
                            <th>Monto</th>
                            <th>Moneda</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                        <tr>
                            <td>1313</td>
                            <td>SAGA</td>
                            <td>15/05/2016</td>
                            <td>1000000131231001301</td>
                            <td>00991929391</td>
                            <td>6500.67</td>
                            <td>S/.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>