<div class="row">
    <div class="col-md-12">
        <h4>Gestión Progresivo</h4>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a>Progresivo</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
            <option>Clientes nuevos</option>
            <option>Sin contacto</option>
            <option>Compromisos vencidos</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Total</a>
    </div>
    <div class="col-md-2">
        <input type="text" />
    </div>

    <div class="col-md-1">
        <a>Cnt.Pendiente</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>

    <div class="col-md-1">
        <a>Cnt.Gestionada</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>

</div>

<div class="row">
    <div class="col-md-1">
        <a>Cliente</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
            <option>Saga</option>
            <option>SCI</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Cartera</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Fch.Inicio</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>

    <div class="col-md-1">
        <a>Fch.Fin</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>

    <div class="col-md-1">
        <a>Hora Inicio</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>

    <div class="col-md-1">
        <a>Hora Fin</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a>Cliente</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Nuevo Teléfono</a>
    </div>
    <div class="col-md-2">
        <input type="checkbox">
    </div>

    <div class="col-md-1">
        <a>Nueva Dirección</a>
    </div>
    <div class="col-md-2">
        <input type="checkbox">
    </div>

    <div class="col-md-1">
        <a>Nueva Alerta</a>
    </div>
    <div class="col-md-2">
        <input type="checkbox">
    </div>

</div>

<div class="row">
    <h4>Cuentas</h4>
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>OPERACIÓN</th>
                    <th>MONEDA</th>
                    <th>CAPITAL</th>
                    <th>DEUDA TOTAL</th>
                    <th>CAMPAÑA</th>
                    <th>FCH.ASIGNACION</th>
                    <th>PRODUCTO</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row">
    <h4>Gestiones</h4>
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CARTERA</th>
                    <th>GESTOR</th>
                    <th>RESULTADO</th>
                    <th>GESTION</th>
                    <th>FCH.CP</th>
                    <th>MON.CP</th>
                    <th>MONTO CP</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<div class="row">
    <h4>Gestión Telefónica</h4>


    <div class="col-md-1">
        <a>Teléfono</a>
    </div>
    <div class="col-md-2">
        <input type="text">
    </div>

    <div class="col-md-1">
        <a>Origen</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Condición</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

</div>

<div class="row">
    <div class="col-md-1">
        <a>Gestión</a>
    </div>
    <div class="col-md-2">
        <input type="text" style="width:400px; height:40px;">
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a>Contacto</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Resultado</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Condición</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

</div>

<div class="row">
    <h4>compromiso de Pago</h4>


    <div class="col-md-1">
        <a>Moneda</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
            <option>S/.</option>
            <option>$</option>
        </select>
    </div>

    <div class="col-md-1">
        <a>Fecha</a>
    </div>
    <div class="col-md-2">
        <input type="text" />
    </div>

    <div class="col-md-1">
        <a>Monto</a>
    </div>
    <div class="col-md-2">
        <input type="text" />
    </div>

    <div class="col-md-1">
        <a>Tipo</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
        </select>
    </div>

</div>