<div class="row">
    <div class="col-md-12">
        <h1>Configuración General</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a>Tablas</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>--------</option>
            <option>Cuentas</option>
            <option>Gestiones</option>
            <option>Teléfonos</option>
            <option>Direcciones</option>
        </select>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>CAMPO</th>
                    <th>NOMBRE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="radio" /></td>
                    <td>1</td>
                    <td>Cod_Cartera</td>
                    <td>IDCARTERA</td>
                    <td><a href="DeleteCampo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td><input type="radio" /></td>
                    <td>1</td>
                    <td>Des_Cartera</td>
                    <td>CARTERA</td>
                    <td><a href="DeleteCampo.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<br>


<a href="newCampo.html" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Agregar</a>
<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-up"></span> Subir</a>
<a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-next"></span> Bajar</a>