<div class="row">
    <div class="col-md-12">
        <h1>Agregar Campo</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>CAMPO</th>
                    <th>NOMBRE</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td><input type="text" value="Imp_Capital" /></td>
                    <td><input type="text" value="Capital"></td>
                    <td><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> Guardar</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><input type="text" value="Imp_DeudaTotal" /></td>
                    <td><input type="text" value="Deuda Total" /></td>
                    <td><a href="#" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-save"></span> Guardar</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<a href="Configuración.html" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>