<div class="row">
    <div class="col-md-12">
        <h1>Mantenimiento de Usuarios</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a href="NewUser.html" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>ID</option>
            <option>Documento de Identidad</option>
            <option>Nombre de Usuario</option>
        </select>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" placeholder="Buscar usuario">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>DNI</th>
                    <th>Nombre</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>1</td>
                    <td>55533232</td>
                    <td>Brilliti</td>
                    <td><a href="EditUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>55533232</td>
                    <td>Elizabeth</td>
                    <td><a href="EditUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>55533232</td>
                    <td>Mabel</td>
                    <td><a href="EditUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>55533232</td>
                    <td>Johanna</td>
                    <td><a href="EditUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>55533232</td>
                    <td>sage</td>
                    <td><a href="EditUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>

            </tbody>
        </table>
    </div>

</div>