<div>
    <h2>Nuevo Progresivo</h2>
</div>

<form>

    <div class="row">
        <div class="col-md-1">
            <a>Descripción</a>
        </div>
        <div class="col-md-2">
            <input type="text" name="Descripcion">
        </div>

        <div class="col-md-1">
            <a>Cliente</a>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>------------------</option>
                <option>SCI</option>
                <option>SAGA</option>
            </select>
        </div>

        <div class="col-md-1">
            <a>Cartera</a>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>------------------</option>
            </select>
        </div>

    </div>

    <div class="row">

    </div>


    <div class="row">
        <div class="col-md-1">
            <a>Fch.Inicio</a>
        </div>
        <div class="col-md-2">
            <input type="text" name="FchInicio">
        </div>

        <div class="col-md-1">
            <a>Fch.Fin</a>
        </div>
        <div class="col-md-2">
            <input type="text" name="FchFin">
        </div>

        <div class="col-md-1">
            <a>Hora Inicio</a>
        </div>
        <div class="col-md-2">
            <input type="text" name="HoraInicio">
        </div>
        <div class="col-md-1">
            <a>Hora Fin</a>
        </div>
        <div class="col-md-2">
            <input type="text" name="HoraFin">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <a>Importación</a>
        </div>
        <div class="col-md-1">
            <input type="radio" name="tipo1">
        </div>

        <div class="col-md-1">
            <button type="button" class="btn btn-primary" aria-label="Left Align">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Formato
            </button>
        </div>

        <div class="col-md-1">
            <input type="file" name="Archivo">
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <a>Filtro</a>
        </div>
        <div class="col-md-1">
            <input type="radio" name="tipo2">
        </div>

        <div class="col-md-2">
            <select class="form-control">
                <option>------------------</option>
                <option>SIN GESTIÓN</option>
                <option>CLIENTES NUEVO</option>
            </select>
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>ID</th>
                        <th>NOMBRE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <th><input type="checkbox"></th>
                        <td>1</td>
                        <td>Junior Peña</td>
                    </tr>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>2</td>
                        <td>Mabel Soto</td>
                    </tr>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>3</td>
                        <td>Fergie Zavaleta</td>
                    </tr>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>4</td>
                        <td>Edwin Romero</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>


    <button type="button" class="btn btn-primary" aria-label="Left Align">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
    </button>

    <a href="Progresivo.html" class="btn btn-primary"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>

</form>