<div class="jumbotron">
    <h1>¡Buenos días!</h1>
    <p>Tienes un total de <span class="badge">16</span> llamadas pendientes para el día de hoy.</p>
    <p><a  class="btn btn-info btn-lg" ng-click="loadMenu();">Ir a gestión</a></p>
    {{menu.length}}
</div>
<div></div>
<blockquote>
    <p><strong>Comunicado:</strong> La hora de salida ha cambiado, ahora podrán salir a partir de las 6pm.</p>
    <small>Publicado por: <cite title="Source Title">Patricia Romero</cite></small>
</blockquote>
<blockquote>
    <p><strong>Feliz Navidad!:</strong> Que tengan una feliz navidad y un próspero año nuevo.</p>
    <small>Publicado por: <cite title="Source Title">Marcelo Cáceres</cite></small>
</blockquote>
<blockquote>
    <p><strong>Aviso:</strong> Por favor, a la hora de cambiar la contraseña tengan presente que el sistema cerrará la sesíon. Para evitar problemas, cambiar la contraseña cuando no tengan gestiones abiertas.</p>
    <small>Publicado por: <cite title="Source Title">Sistemas</cite></small>
</blockquote>