<div>
    <h2>Eliminar Resultados de Gestores</h2>

    <form>
        <div class="alert alert-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Warning!</strong> ¿Está seguro que desea eliminar el resultado?
        </div>

        <button type="button" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Guardar
        </button>

        <button type="button" class="btn btn-primary" aria-label="Left Align">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
        </button>

    </form>
</div>