<div>
    <h2>Editar Resultado de Gestores</h2>
</div>

<form>

    <div class="row">
        <div class="col-md-1">
            <a>Código</a>
        </div>
        <div class="col-md-2">
            <input type="text" name="Código">
        </div>
    </div>


    <div class="row">
        <div class="col-md-1">
            <a>Descripción</a>
        </div>
        <div class="col-md-2">
            <input type="text" name="Descripción">
        </div>
    </div>


    <div class="row">
        <div class="col-md-1">
            <a>Clasificación Cliente</a>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>------------------</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <a>Clasificación Deuda</a>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>-------------------</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>


    <div class="row">
        <div class="col-md-1">
            <a>Tipo Resultado</a>
        </div>
        <div class="col-md-2">
            <select class="form-control">
                <option>-------------------</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
        </div>
    </div>


    <div class="col-md-1">
        <a> </a>
    </div>
    <button type="button" class="btn btn-primary" aria-label="Left Align">
        <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Guardar
    </button>

    <button type="button" class="btn btn-primary" aria-label="Left Align">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
    </button>


</form>