<div class="row">
    <div class="col-md-12">
        <h1>Configuración de Resultados de Gestores</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a href="MaintenanceResults_Managers.html" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>Código</option>
            <option>Descripción</option>
        </select>
    </div>
    <div class="col-md-9">
        <input type="text" class="form-control" placeholder="Buscar usuario">
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Descripción</th>
                    <th>Clasificación Cliente</th>
                    <th>Clasificación Deuda</th>
                    <th>Tipo Resultado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>1111</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td><a href="EditResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>2222</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td><a href="EditResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>3333</td>
                    <
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td><a href="EditResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>4444</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td><a href="EditResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>
                <tr>
                    <td>5555</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td><a href="EditResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>
                    <td><a href="DeleteResults_Managers.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-remove"></span> Eliminar</a></td>
                </tr>

            </tbody>
        </table>
    </div>

</div>