<div>
    <div class="row">
        <h1>Asignación de Cartera</h1>
    </div>
    <div class="row">
        <div class="col-md-1">
            <label class="control-label">Año </label>
        </div>
        <div class="col-md-2">
            <select>
                <option>2016</option>
            </select>
        </div>
        <div class="col-md-1">
            <label class="control-label">Mes </label>
        </div>
        <div class="col-md-2">
            <select class="form-control input-sm">
                <option>Enero</option>
                <option>Febrero</option>
                <option>Marzo</option>
                <option>Abril</option>
                <option>Mayo</option>
                <option>Junio</option>
                <option>Julio</option>
                <option>Agosto</option>
                <option>Setiembre</option>
                <option>Octubre</option>
                <option>Noviembre</option>
                <option>Diciembre</option>
            </select>
        </div>
        <div class="col-md-1">
            <label class="control-label">Gestor </label>
        </div>
        <div class="col-md-3">
            <select class="form-control">
                <option>Ana Paula chavez</option>
                <option>Franchesca Figueroa</option>
                <option>Ericka Zuasnahabar</option>
            </select>
        </div>
        <div class="col-md-2">
            <a class="btn btn-info"> Asignar</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Cliente
                </div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" id="chkCartera_1" />
                            </td>
                            <td>
                                Saga
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="chkCartera_2" />
                            </td>
                            <td>
                                SCI
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Cartera</div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="1"/></td>
                            <td>Cementerio 1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Cementerio 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Producto</div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Visa Debito</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Visa Mastercard</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Negocio</div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Negocio 1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Negocio 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Ubicabilidad</div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Ubicable</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>No ubicable</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Distrito</div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Lima</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Surco</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Sector</div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Sector 1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Sector 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Cuadrante</div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Cuadrante 1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Cuadrante 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-info">
                <div class="panel-heading">Comportamiento de Pago</div>
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Historico 1</td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" id="1" /></td>
                            <td>Historico 2</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>