<div class="row">
    <div class="col-md-12">
        <h1>Consulta Recaudación - Administrador</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a> Año</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
        </select>
    </div>
    <div class="col-md-1">
        <a> Mes</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>12</option>
            <option>11</option>
            <option>10</option>
        </select>
    </div>
    <div class="col-md-1">
        <a> </a>
    </div>
    <div class="btn-group">
        <a class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Filtrar</a>

    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <a> Cliente</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>SCI</option>
            <option>Saga</option>
            <option>BCP</option>
        </select>
    </div>
    <div class="col-md-1">
        <a> Cartera</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>Cementerio1</option>
            <option>Cementerio2</option>
            <option>Nuevos</option>
        </select>
    </div>
    <div class="col-md-1">
        <a> Gestor</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>Junior Peña</option>
            <option>Elizabeth Lozano</option>
            <option>Ale Soto</option>
        </select>
    </div>

</div>
<div class="row">

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>CLIENTE</th>
                        <th>CARTERA</th>
                        <th>CUENTA</th>
                        <th>MONTO</th>
                        <th>FECHA PAGO</th>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="success">
                        <td>Saga Falabella</td>
                        <td>Cementerio1</td>
                        <td>1002</td>
                        <td>2000.00</td>
                        <td>2016-11-12</td>
                        <td><a href="EditUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Eliminar</a></td>
                    </tr>
                    <tr class="success">
                        <td>Saga Falabella</td>
                        <td>Cementerio2</td>
                        <td>1001</td>
                        <td>100.00</td>
                        <td>2016-11-11</td>
                        <td><a href="EditUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Eliminar</a></td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
