<div class="row">
    <div class="col-md-12">
        <h1>Análisis de Recaudación</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <a> Cliente</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>SCI</option>
            <option>Saga</option>
            <option>BCP</option>
        </select>
    </div>
    <div class="col-md-1">
        <a> Cartera</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>Cementerio1</option>
            <option>Cementerio2</option>
            <option>Nuevos</option>
        </select>
    </div>

</div>
<div class="row">
    <div class="col-md-1">
        <a> Año</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>2016</option>
            <option>2015</option>
            <option>2014</option>
        </select>
    </div>
    <div class="col-md-1">
        <a> Mes</a>
    </div>
    <div class="col-md-2">
        <select class="form-control">
            <option>12</option>
            <option>11</option>
            <option>10</option>
        </select>
    </div>
    <div class="col-md-1">
        <a> </a>
    </div>
    <div class="btn-group">
        <a class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Filtrar</a>
        <a class="btn btn-primary"><span class="glyphicon glyphicon-cog"></span> Procesar</a>
        <a class="btn btn-primary"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</a>
    </div>
</div>
<div class="row">
    <div class="col-md-1">
        <a> Fecha inicio</a>
    </div>
    <div class="col-md-2">
        <input type="date" name="cumpleanios" step="1" min="2013-01-01" max="2013-12-31" value="2013-01-01">
    </div>
    <div class="col-md-1">
        <a> Fecha Fin</a>
    </div>
    <div class="col-md-2">
        <input type="date" name="cumpleanios" step="1" min="2013-01-01" max="2013-12-31" value="2013-01-01">
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>CUENTA</th>
                    <th>S/ PAGO</th>
                    <th>FECHA PAGO</th>
                    <th>N° COMPROBANTE</th>
                    <th>DEUDA TOTAL</th>
                    <th>DEUDA RESTANTE</th>
                    <th>ASIGNADO</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="success">
                    <td>1001</td>
                    <td>2000.00</td>
                    <td>2016-11-16</td>
                    <td>122345</td>
                    <td>10000.00</td>
                    <td>8000.00</td>
                    <td>Junior Peña</td>
                    <td><a href="EditUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>

                </tr>
                <tr>
                    <td>1002</td>
                    <td>3000.00</td>
                    <td>2016-11-11</td>
                    <td>201678</td>
                    <td>11000.00</td>
                    <td>8000.00</td>
                    <td>Elizabeth Lozano</td>
                    <td><a href="EditUser.html" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil"></span> Editar</a></td>

                </tr>

                </tr>

            </tbody>
        </table>
    </div>

</div>